.Wrapper {
    height: 70vh;
    width: 80vw;
    background: rgb(233, 233, 233);
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    padding: 1rem;
    font-family: Poppins;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.arrayContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem;
    height: 100vh;
    width: 100%;
}

.arrayBar {
    color: rgb(0, 213, 255);
    background-color: rgb(0, 213, 255);
    margin: 1px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    border-radius: 2px;
    flex: 1;
    transition: .25s all ease-in-out;
}

.buttonContainer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    padding: .75rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    margin: 0 .5rem;
    transition: .2s all ease-in-out;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
}