*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: white;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: rgb(18, 17, 17);
}


.title {
  background: rgb(20, 244, 255);
  background: linear-gradient(138deg, rgba(20, 244, 255, 1) 0%, rgba(255, 0, 237, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem;
  margin-top: -2.5rem;
  text-shadow: 1px 1px 12px rgba(255, 255, 255, .1);
  border: 2px solid rgb(20, 244, 255);
  border-image: linear-gradient(138deg, rgba(20, 244, 255, 1) 0%, rgba(255, 0, 237, 1) 100%) 1;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 1px 1px 12px rgba(255, 255, 255, .1);
}


.titleReflection {
  width: 70%;
  background: rgb(20, 244, 255);
  background: linear-gradient(138deg, rgba(20, 244, 255, 1) 0%, rgba(255, 0, 237, 1) 100%);
  transform: perspective(3em) rotateX(30deg);
  filter: blur(1.5em);
  border-radius: 50%;
  margin-top: 1rem;
}

strong {
  color: rgb(255, 40, 251);
}

.ShrinkWrap {
  transform: scale(.8);
}